.alertTitle {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bolder;
}

.alertButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;

  width: 100px;
  border: none;
  color: white;
}